
.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.colorPickerContainer {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.colorPicker {
    border: none;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.0rem;
    border-radius: 1.0rem;
    align-items: center;
    width: 45.0rem;
    background: hsla(40, 6%, 48%, 0.6);
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.5rem;
    align-items: center;
    padding: 2.0rem 2.0rem 0.0rem 1.0rem;
    margin: 0.0rem 2.0rem;
}

.inputContainer input {
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.5rem;
    margin: 0.0rem;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
}

.inputContainer button {
    border-radius: 0.3rem;
    border: 0;
    font-size: 1.5rem;
}

.addButton {
    background-color: hsl(120, 80%, 75%);
    color: hsl(120, 100%, 20%);
    padding: 1.6rem;
    margin: 0.0rem;
}

.addButton:hover {
    background-color: hsl(90, 100%, 50%);
}

.addButton:active {
    background-color: hsl(90, 100%, 40%);
}

.addButton:disabled {
    background-color: hsl(120, 20%, 65%);
}

.remButton {
    background-color: hsla(0, 80%, 60%, 0);
    color: hsl(0, 80%, 60%);
    padding: 0.0rem;
    margin: 1.0rem;
    cursor: pointer;
}

.remButton:hover {
    color: hsl(0, 100%, 60%);
}

.remButton:active {
    color: hsl(0, 100%, 40%);
}

.remButton:disabled {
    color: hsl(0, 20%, 65%);
    cursor: auto;
}

.titleClass {
    font-size: 3.0rem;
    color: hsl(0, 0%, 98%);
    padding: 1.5rem 2.0rem 0.5rem;
    text-align: center;
    font-weight: normal;
}

.onlineToggle {
    color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.toggleContainer {
    height: 1.2rem;
    border-radius: 8px;
    width: 2.6rem;
}

.onlineToggle .material-icons-outlined {
    cursor: pointer;
    font-size: 3.0rem;
    position: relative;
    bottom: 0.9rem;
    right: 0.2rem;
}

.buttonContainer {
    display: flex;
    margin: 2.0rem;
    width: 80%;
    justify-content: space-around;
    gap: 2.0rem;
}

.buttonContainer button {
    padding: 1.0rem;
    width: 100%;
    color: hsl(0, 0%, 98%);
    background-color: hsl(181, 100%, 41%);
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.buttonContainer button:hover {
    background-color: hsl(210, 100%, 56%);
}

.buttonContainer button:active {
    background-color: hsl(210, 96%, 41%);
}

.buttonContainer button:disabled {
    background-color: hsl(195, 53%, 79%);
}

.passwordClass {
    font-size: 2.0rem;
    padding: 2.0rem;
    margin-bottom: 2.0rem;
    display: flex;
    align-items: center;
    border: 3px solid hsl(0, 0%, 39%);
    border-radius: 1.0rem;
    background-color: hsla(0, 0%, 4%, 0.9);
    color: hsl(33, 100%, 50%);
    width: 80%;
    word-break: break-word;
}

.passwordClass button {
    border: 0;
    border-radius: 0.5rem;
    height: 2.5rem;
    background-color: hsla(0, 0%, 0%, 0.0);
    cursor: pointer;
    color: hsl(0, 0%, 50%);
    padding: 0.1rem;
    width: 2.5rem;
    margin-left: 1rem;
}

.passwordClass button:hover {
    background-color: hsla(0, 0%, 20%, 0.5)
}

.passwordClass button:active {
    background-color: hsla(0, 0%, 10%, 0.5)
}

.logoutContainer {
    height: 0;
}

.logOut {
    color: hsl(0, 100%, 98%);
    font-size: 15px;
    border: 0;
    background-color: hsla(0, 0%, 0%, 0.0);
    cursor: pointer;
    padding: 0;
    position: relative;
    bottom: 1.6rem;
}

.logOut:hover {
    color: hsl(0, 100%, 50%);
    font-weight: bolder;
}

.material-icons {
    font-size: 2.4rem;
}

.popupContainer {
    width: 0;
    height: 0;
}

.popup {
    position: relative;
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 75%);
    text-align: center;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: default;
    white-space: nowrap;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input + .material-icons {
    position: relative;
    right: 3.5rem;
    color: grey;
    cursor: pointer;
    width: 0;
}

.cookieBanner {
    display: flex;
    width: 100vw;
    align-items: end;
    height: 0;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    font-size: 1.6rem;
}

.cookieContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    background-color: hsla(0, 0%, 98%, 0.9);
    font-size: 1.6rem;
    border-style: solid;
    border-radius: 5px;
}

.cookieText {
    margin: 1rem;
}

.cookieText p {
    margin: 1rem;
}

.cookieButtonContainer {
    display: flex;
    flex-direction: column;
}

.cookieButtonContainer button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    color: hsl(0, 0%, 98%);
    background-color: hsla(0, 0%, 2%, 0.6);
}

.cookieButtonContainer button:hover {
    background-color: hsla(0, 0%, 2%, 0.8);
}

.cookieButtonContainer button:active {
    background-color: hsla(0, 0%, 2%, 1);
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 0;
    right: 0;
}

.foot a {
    color: hsl(0, 100%, 100%);
    margin: 2rem;
    font-size: 1.6rem;
}

@media (hover: none) {
    .buttonContainer button:hover {
        background-color: hsl(181, 100%, 41%);
    }

    .buttonContainer button:active {
        background-color: hsl(210, 96%, 41%);
    }

    .addButton:hover {
        background-color: hsl(120, 80%, 75%);
    }

    .addButton:active {
        background-color: hsl(90, 100%, 40%);
    }

    .addButton:disabled {
        background-color: hsl(120, 20%, 65%);
    }

    .cookieButtonContainer button:hover {
        background-color: hsla(0, 0%, 2%, 0.6);
    }

    .cookieButtonContainer button:hover {
        background-color: hsla(0, 0%, 2%, 0.8);
    }
}

@media screen and (max-width: 450px) {
    .container {
        width: 100vw;
    }

    .popup {
        top: 1.6rem;
        right: 5.0rem;
    }

    .cookieContainer {
        flex-direction: column;
        padding-top: 1rem;
    }

    .cookieButtonContainer {
        flex-direction: row;
    }
}

@media screen and (max-width: 400px) {
    .inputContainer {
        margin: 0;
        padding-left: 0;
    }
}

@media screen and (max-height: 450px) {
    .container {
        height: 100vh;
    }

    .inputContainer {
        padding-top: 0;
    }

    .buttonContainer {
        margin: 1.0rem;
    }

    .titleClass {
        margin: 0;
    }

    .titleContainer {
        flex-direction: row;
    }

    .logOut {
        padding: 1.5rem 2.0rem 0.5rem;
        bottom: 6.3rem;
        left: 17.0rem;
    }
}

@media screen and (max-height: 400px) {
    .buttonContainer {
        margin: 0;
    }
}

@media screen and (orientation: landscape) {
    .foot {
        flex-direction: column;
    }
}
