/*
 * This file is part of MyPasswordGen.
 *
 * MyPasswordGen is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * MyPasswordGen is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with MyPasswordGen. If not, see <https://www.gnu.org/licenses/>.
 */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    color: #e0e0e0;
    margin: 0;
    height: 100vh;
}

div {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #202020;
    padding: 5vh 15vw;
}

a {
    color: #0ff;
}

@media screen and (max-width: 1000px) {

    body {
        height: auto;
    }
    div {
        width: 70vw;
        padding: 10vw;
    }
}

@media screen and (max-width: 700px) {
    div {
        width: 90vw;
        padding: 5vw;
    }
}
