
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(240, 100%, 27%)
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.0rem;
    border-radius: 1.0rem;
    align-items: center;
    width: 45.0rem;
    background: hsla(40, 6%, 48%, 0.5);
}

@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.0rem;
        border-radius: 1.0rem;
        align-items: center;
        width: 100vw;
        background: hsla(40, 6%, 48%, 0.5);
    }
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.5rem;
    align-items: center;
    padding: 2.0rem 2.0rem 0.0rem;
    margin: 0.0rem 2.0rem;
}

.inputContainer input {
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.5rem;
    margin: 0.0rem;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
}

.inputContainer button {
    border-radius: 0.3rem;
    border: 0;
    font-size: 1.5rem;
}

.addButton {
    background-color: hsl(120, 80%, 75%);
    color: hsl(120, 100%, 20%);
    padding: 1.6rem;
    margin: 0.0rem;
}

.addButton:hover {
    background-color: hsl(90, 100%, 50%);
}

.addButton:active {
    background-color: hsl(90, 100%, 40%);
}

.addButton:disabled {
    background-color: hsl(120, 20%, 65%);
}

.remButton {
    background-color: hsla(0, 80%, 60%, 0);
    color: hsl(0, 80%, 60%);
    padding: 0.0rem;
    margin: 1.0rem;
    cursor: pointer;
}

.remButton:hover {
    color: hsl(0, 100%, 60%);
}

.remButton:active {
    color: hsl(0, 100%, 40%);
}

.remButton:disabled {
    color: hsl(0, 20%, 65%);
    cursor: auto;
}

.titleClass {
    font-size: 3.0rem;
    color: hsl(0, 0%, 98%);
    padding: 1.5rem 2.0rem 0.5rem;
    text-align: center;
    font-weight: normal;
}

.buttonContainer {
    display: flex;
    margin: 2.0rem;
    width: 80%;
    justify-content: space-around;
    gap: 2.0rem;
}

.buttonContainer button {
    padding: 1.0rem;
    width: 100%;
    color: hsl(0, 0%, 98%);
    background-color: hsl(181, 100%, 41%);
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.buttonContainer button:hover {
    background-color: hsl(210, 100%, 56%);
}

.buttonContainer button:active {
    background-color: hsl(210, 96%, 41%);
}

.buttonContainer button:disabled {
    background-color: hsl(195, 53%, 79%);
}

.passwordClass {
    font-size: 2.0rem;
    padding: 2.0rem;
    margin-bottom: 2.0rem;
    display: flex;
    align-items: center;
    gap: 1.0rem;
    border: 3px solid hsl(0, 0%, 39%);
    border-radius: 1.0rem;
    background-color: hsla(0, 0%, 4%, 0.9);
    color: hsl(33, 100%, 50%);
    width: 80%;
    word-break: break-word;
}

.passwordClass button {
    border: 0;
    border-radius: 0.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
}

.passwordClass button:hover {
    background-color: rgba(60, 60, 60, 0.5)
}

.passwordClass button:active {
    background-color: rgba(36, 36, 36, 0.5)
}

.logOut {
    color: hsl(0, 100%, 98%);
    font-size: 15px;
    border: 0;
    background-color: hsla(0, 0%, 0%, 0.0);
    cursor: pointer;
    padding: 0;
}

.logOut:hover {
    color: hsl(0, 100%, 50%);
    font-weight: bolder;
}

.material-icons {
    font-size: 2.4rem;
}
